extends layout

block content
  h3.intro Writing

  .writing.single(mid=writing.id)
    h3= writing.title
    .body loading...
    .actions.toolbar
      .act
        - if (!user || (user && user.hearts.indexOf(writing.id) == -1))
          a.heart_this(href='#', writing_id=writing.id) ♥ it.
        - else
          span.hearted hearted
      .act.sep |
      .act
        a(href='/writing/'+writing.id+'/share') share it.
      .act.sep |
      .act
        span.views_counter= writing.views 
        span  views
      .act.sep |
      .act
        span.hearts_counter= writing.hearts
        span  hearts
      .act.sep |
      .act
        span.speed.selected(speed='1') 1x 
        span.speed(speed='1.5') 1.5x 
        span.speed(speed='2') 2x 
        span.speed(speed='5') 5x



  script(type='text/javascript')!= 'render_writing(' + JSON.stringify(writing) + ', ".writing.single .body", true);'