extends layout

block content

  h3.intro About You


  - if (found)

    fieldset.user_options
      legend User Options
      div.pen_name
        div pen name: <small>(shown as the author's name)</small>
        input.text(type='text', placeholder='anonymous', value=user.pen_name)/
        input.save_pref(type='button', value='save', form_type='pen name', submit_url='/me/pen_name')/

      div.username
        div user name: <small>(url for your author's profile)</small>
        input.text(type='text', placeholder=user._id, value=user.username)/
        input.save_pref(type='button', value='save', form_type='user name', submit_url='/me/username')/

      div.email
        div email: <small>(for your password)</small>
        input.text(type='text', value=user.email)/
        input.save_pref(type='button', value='save', from_type='email', submit_url='/me/email')


    p You've written:
      ul 
        - for writing in writings
          li
            a(href='/writing/'+writing.id)= writing.title || 'untitled.'

    p You've hearted:
      ul
        - for heart in hearts
          li
            a(href='/writing/' + heart.id)= heart.title || 'untitled.'
  - else
    h3 Can't find user. Write something or heart a writing to 